[submodule "mkproj"]
	path = mkproj
	url = git@github.com:aatharvauti/mkproj.git
[submodule "cryptohack"]
	path = cryptohack
	url = git@github.com:aatharvauti/cryptohack.git
[submodule "antiprocrastinator"]
	path = antiprocrastinator
	url = git@github.com:aatharvauti/antiprocrastinator.git
