[submodule "mkproj"]
	path = mkproj
	url = git@github.com:aatharvauti/mkproj.git
[submodule "cryptohack"]
	path = cryptohack
	url = git@github.com:aatharvauti/cryptohack.git
[submodule "antiprocrastinator"]
	path = antiprocrastinator
	url = git@github.com:aatharvauti/antiprocrastinator.git
[submodule "cryptalert"]
	path = cryptalert
	url = git@github.com:aatharvauti/cryptalert.git
[submodule "py-twilio"]
	path = py-twilio
	url = git@github.com:aatharvauti/py-twilio.git
[submodule "py-hackerrank"]
	path = py-hackerrank
	url = git@github.com:aatharvauti/py-hackerrank.git
